/* ==========================
          Size control 
============================= */
.objects-wrap .car-wrap{
  width: 13%;
}
.objects-wrap .store-wrap{
  width: 12%;
}

.character18_mv,
.objects-wrap .tree-t01{
  width: 10%;
}
.board-wrap{
  width: 9%;
}
.character12_mv{
  width: 8.5%;
}
.objects-wrap .character09-wrap{
  width: 8%;
}
.character11_mv02{
  width: 6.8% !important;
}
.vending_machine-wrap,
.character17_mv,
.character16_mv,
.character14_mv,
.character13_mv,
.objects-wrap .character08-wrap{
  width: 6.5%;
}
.objects-wrap .character11_01,
.objects-wrap .character11-wrap{
  width: 6%;
}
.objects-wrap .rama-t02,
.character11_02,
.character14_02,
.character19_01,
.character18_01,
.character15_01,
.character14_01,
.character13_01,
.character12_01{
  width: 5.5%;
}
.character19_mv,
.character17_01,
.character16_01,
.objects-wrap .character07-wrap,
.objects-wrap .rama-t01,
.objects-wrap .campfire-wrap,
.objects-wrap .log-wrap,
.objects-wrap .tree-t02{
  width: 5%;
}
.character14_mv02,
.objects-wrap .character11_mv{
  width: 4.5%;
}
.objects-wrap .character06-wrap,
.objects-wrap .character05-wrap,
.objects-wrap .character04-wrap{
  width: 4%;
}
.character16_mv,
.character15_mv{
  width: 3.8%;
}
.redbox-wrap,
.goodframe-wrap,
.objects-wrap .emotion_hi,
.objects-wrap .character01-wrap,
.objects-wrap .character02-wrap{
  width: 3.5%;
}
.pot-wrap,
.objects-wrap .character10_01{
  width: 3%;
}
.objects-wrap .character03-wrap{
  width: 2.7%;
}
.objects-wrap .sign-wrap{
  width: 2.5%;
}
.emotion-wrap{
  width: 2.2%;
}
.objects-wrap .flowers-wrap,
.objects-wrap .grass-wrap,
.objects-wrap .mushroom-wrap{
  width: 2%;
}
.objects-wrap img{
  width: 100%;
}