/* font */
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"), url("https://unaunao.github.io/Portfolio-Ver02/fonts/Pretendard-Bold.woff2") format("woff2"), url("https://unaunao.github.io/Portfolio-Ver02/fonts/Pretendard-Bold.woff") format("woff"), url("https://unaunao.github.io/Portfolio-Ver02/fonts/Pretendard-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"), url("https://unaunao.github.io/Portfolio-Ver02/fonts/Pretendard-SemiBold.woff2") format("woff2"), url("https://unaunao.github.io/Portfolio-Ver02/fonts/Pretendard-SemiBold.woff") format("woff"), url("https://unaunao.github.io/Portfolio-Ver02/fonts/Pretendard-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"), url("https://unaunao.github.io/Portfolio-Ver02/fonts/Pretendard-Medium.woff2") format("woff2"), url("https://unaunao.github.io/Portfolio-Ver02/fonts/Pretendard-Medium.woff") format("woff"), url("https://unaunao.github.io/Portfolio-Ver02/fonts/Pretendard-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"), url("https://unaunao.github.io/Portfolio-Ver02/fonts/Pretendard-Regular.woff2") format("woff2"), url("https://unaunao.github.io/Portfolio-Ver02/fonts/Pretendard-Regular.woff") format("woff"), url("https://unaunao.github.io/Portfolio-Ver02/fonts/Pretendard-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"), url("https://unaunao.github.io/Portfolio-Ver02/fonts/Pretendard-Light.woff2") format("woff2"), url("https://unaunao.github.io/Portfolio-Ver02/fonts/Pretendard-Light.woff") format("woff"), url("https://unaunao.github.io/Portfolio-Ver02/fonts/Pretendard-Light.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"), url("https://unaunao.github.io/Portfolio-Ver02/fonts/Pretendard-Thin.woff2") format("woff2"), url("https://unaunao.github.io/Portfolio-Ver02/fonts/Pretendard-Thin.woff") format("woff"), url("https://unaunao.github.io/Portfolio-Ver02/fonts/Pretendard-Thin.otf") format("opentype");
}
:hover ,
*{
  cursor: url(../images/mouse.svg) 2 2, auto ;
}
:active {
  cursor: url(../images/mouse02.svg) 2 2, auto ;
}
body {
  font-family: "pretendard", sans-serif;
  color: #111;

}
button{
  font-family: "pretendard", sans-serif;
}
.contents-wrap{
  position: relative;
  height: 100vh;
  background: #B6CA61 url(../images/bg02.svg) no-repeat center / cover;
}
.objects-wrap,
.main-contents,
.inside-wrap,
.outside-wrap {
  width: 100%;
  height: 100%;
}
.main-contents,
.inside-wrap{
  position: absolute;
  top:0;
  left: 0;
}
.inside-wrap{
  z-index: 1;
}
.main-contents{
  z-index: 3;
  pointer-events:none;
}
.Gradient {
  position:absolute;
  top:0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  pointer-events:none;
}
.Gradient-all {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 70%, rgba(255, 255, 255, 0.5) 100%);
}
.Gradient-top{
  background: linear-gradient(360deg, rgba(2, 0, 36, 0) 76%, rgba(255, 255, 255, 0.9) 100%)
}
.Gradient-bottom{
  background: linear-gradient(180deg, rgba(2, 0, 36, 0) 91%, rgba(0, 0, 0, 0.2) 100%);
}
.logo-set-wrap {
  position: relative;
  pointer-events:none;
}
.button-set-wrap,
.logo-set-wrap .deco,
.logo-set-wrap .text,
.logo-set-wrap .logo{
  position:absolute;
  left: 50%;
  transform: translateX(-50%);
}
.logo-set-wrap .logo{
  top:5px;
}
.logo-set-wrap .text{
  top: 12px;
  z-index: 4;
  transform: translateX(-140%);
}
.logo-set-wrap .deco{
  top: 7.875rem;
  transform: translateX(-52%);
}
.logo-set-wrap .star img{
  position:absolute;
  top: -4px;
  z-index: 4;
}
.button-set-wrap {
  bottom: 50px;
  text-align: center;
  pointer-events:initial;
}
.button-set-wrap button,
.button-set-wrap a{
  font-size: 1.125rem;
  font-weight: 600;
  width: 18.375rem;
  height: 2.75rem;
  line-height: 2.75rem;
  border-radius: 1.25rem;
  box-shadow: -1px 2px 4px 1px rgba(0, 0, 0, 0.5);
}
.button-set-wrap a{
  position: relative;
  display: inline-block;
  background-color: #FFDD3C;
  margin-bottom: 0.75rem;
  transition: 0.3s;
}
.button-set-wrap a::before{
  content: '';
  width: 1.96rem;
  height: 1.421rem;
  position: absolute;
  background-image: url(../images/discode.svg);
  background-size: cover;
  background-repeat: no-repeat;
  left: 30px;
  top:50%;
  transform: translateY(-50%);
}
.button-set-wrap button{
  color: #fff;
  background-color: #00B1FF;
}
.button-set-wrap a:focus,
.button-set-wrap a:hover{
  background-color: #f3d43b;
  transform: scale(0.99);
}
.button-set-wrap button:focus,
.button-set-wrap button:hover{
  background-color: #00a4eb;
  transform: scale(0.99);
}
.objects-wrap{
  position: absolute;
  top:0;
  left: 0;
}
.objects-wrap .objects{
  position: absolute;
  left: 50%;
  top:50%;
}
/* ==========================
          Size control 
============================= */
.objects-wrap .car-wrap{
  width: 13%;
}
.objects-wrap .store-wrap{
  width: 12%;
}
.objects-wrap .tree-t01{
  width: 10%;
}
.objects-wrap .character09-wrap{
  width: 8%;
}
.objects-wrap .character08-wrap{
  width: 6.5%;
}
.objects-wrap .character07-wrap,
.objects-wrap .rama-wrap,
.objects-wrap .campfire-wrap,
.objects-wrap .log-wrap,
.objects-wrap .tree-t02{
  width: 5%;
}
.objects-wrap .character06-wrap,
.objects-wrap .character05-wrap,
.objects-wrap .character04-wrap,
.objects-wrap .character10_02{
  width: 4%;
}
.objects-wrap .character01-wrap,
.objects-wrap .character02-wrap{
  width: 3.5%;
}
.objects-wrap .character10_01{
  width: 3%;
}
.objects-wrap .character03-wrap{
  width: 2.7%;
}
.objects-wrap .sign-wrap{
  width: 2.5%;
}
.objects-wrap .flowers-wrap,
.objects-wrap .grass-wrap,
.objects-wrap .mushroom-wrap{
  width: 2%;
}
.objects-wrap img{
  width: 100%;
}
/* ==========================
          Positioning 
============================ */
.objects-wrap .tree01-wrap{
  transform: translate(-431%, -70%);
}
.objects-wrap .tree02-wrap{
  transform: translate(-380%, -15%);
}
.objects-wrap .tree03-wrap{
  transform: translate(-464%, 1%);
}
.objects-wrap .tree04-wrap{
  transform: translate(-920%, -60%);
}
.objects-wrap .mushroom-wrap.mushroom01{
  transform: translate(-1822%, 355%);
}
.objects-wrap .mushroom-wrap.mushroom02{
  transform: translate(-1565%, 917%);
}
.objects-wrap .log-wrap{
  transform: translate(-836%, 154%);
}
.objects-wrap .flowers-wrap.flowers01{
  transform: translate(-1651%, 398%);
}
.objects-wrap .flowers-wrap.flowers02{
  transform: translate(-824%, 667%);
}
.objects-wrap .flowers-wrap.flowers03{
  transform: translate(-849%, -735%);
}
.objects-wrap .grass-wrap.grass01{
  transform: translate(-1759%, 620%);
}
.objects-wrap .grass-wrap.grass02{
  transform: translate(-849%, -925%);
}
.objects-wrap .campfire-wrap{
  transform: translate(-794%, 460%);
}
.objects-wrap .sign-wrap.sign01{
  transform: translate(-1215%, 349%);
}
.objects-wrap .sign-wrap.sign02{
  transform: translate(693%, 321%);
}
.objects-wrap .rama-wrap.rama01{
  transform: translate(273%, 267%);
}
.objects-wrap .rama-wrap.rama02{
  transform: translate(829%, -168%);
}
.objects-wrap .car-wrap{
  transform: translate(191%, -240%);
}
.objects-wrap .character09-wrap{
  transform: translate(278%, -271%);
}
.objects-wrap .character10_01{
  transform: translate(-788%, -134%);
}
.objects-wrap .character10_02{
  transform: translate(-601%, -125%);
}
.objects-wrap .character08-wrap{
  transform: translate(-122%, 56%);
}
.objects-wrap .character07-wrap{
  transform: translate(-556%, -115%);
}
.objects-wrap .character05_01{
  transform: translate(-492%, -115%);
}
.objects-wrap .character05_02{
  transform: translate(-318%, 71%);
}
.objects-wrap .character05_03{
  transform: translate(-821%, 338%);
}
.objects-wrap .character05_04{
  transform: translate(178%, -210%);
}
.objects-wrap .character05_05{
  transform: translate(264%, 17%);
}
.objects-wrap .character05_06{
  transform: translate(748%, 14%);
}
.objects-wrap .character05_07{
  transform: translate(644%, 236%);
}
.objects-wrap .store-wrap{
  transform: translate(-217%, -22%);
}
.objects-wrap .character06-wrap{
  transform: translate(-552%, 52%);
}
.objects-wrap .character04_01{
  transform: translate(395%, -9%);
}
.objects-wrap .character04_02{
  transform: translate(-245%, -36%);
}
.objects-wrap .character04_03{
  transform: translate(-423%, 179%);
}
.objects-wrap .character03_01{
  transform: translate(-509%, -83%);
}
.objects-wrap .character03_02{
  transform: translate(93%, -173%);
}
.objects-wrap .character03_03{
  transform: translate(1323%, 54%);
}
.objects-wrap .character02_01{
  transform: translate(1023%, 275%);
}
.objects-wrap .character02_02{
  transform: translate(238%, -76%);
}
.objects-wrap .character02_03{
  transform: translate(220%, 85%);
}
.objects-wrap .character02_04{
  transform: translate(-151%, -199%);
}
.objects-wrap .character02_05{
  transform: translate(-664%, 202%);
}
.objects-wrap .character01_01{
  transform: translate(-1023%, 135%);
}
.objects-wrap .character01_02{
  transform: translate(-294%, -156%);
}
.objects-wrap .character01_03{
  transform: translate(344%, 120%);
}
.objects-wrap .character01_04{
  transform: translate(1004%, -46%);
}
.objects-wrap .character01_05{
  transform: translate(904%, 91%);
}
.objects-wrap .character01_06{
  transform: translate(1103%, 91%);
}
/* ==========================
          Apply animation 
============================= */
.logo-set-wrap .text img{
  animation: wobbleLeft 2s ease 1.5s 1 normal forwards;
}
.logo-set-wrap .deco .star img{
  animation: rollInRight 2s ease 0s 1 normal forwards;
}
.logo-set-wrap .deco .line img{
  animation: fadeInRight 4s ease 0s 1 normal forwards;
}
.objects-wrap .objects:hover .big {
  animation: pulseRegular 1s ease 0s 1 normal forwards;
}
.objects-wrap .objects:hover .shake{
  animation: shakeBottom 2s ease 0s 1 normal forwards;
}
.objects-wrap .objects:hover .bounceR{
  animation: bounceR 2s ease 0s 1 normal forwards;
}
.objects-wrap .objects .character10_2:hover {
  animation: fadeOutC 1s ease 0s 1 normal forwards;
}
.objects-wrap .objects.character08-wrap:hover {

}