/* font */
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"), url("https://unaunao.github.io/Portfolio-Ver02/fonts/Pretendard-Bold.woff2") format("woff2"), url("https://unaunao.github.io/Portfolio-Ver02/fonts/Pretendard-Bold.woff") format("woff"), url("https://unaunao.github.io/Portfolio-Ver02/fonts/Pretendard-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"), url("https://unaunao.github.io/Portfolio-Ver02/fonts/Pretendard-SemiBold.woff2") format("woff2"), url("https://unaunao.github.io/Portfolio-Ver02/fonts/Pretendard-SemiBold.woff") format("woff"), url("https://unaunao.github.io/Portfolio-Ver02/fonts/Pretendard-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"), url("https://unaunao.github.io/Portfolio-Ver02/fonts/Pretendard-Medium.woff2") format("woff2"), url("https://unaunao.github.io/Portfolio-Ver02/fonts/Pretendard-Medium.woff") format("woff"), url("https://unaunao.github.io/Portfolio-Ver02/fonts/Pretendard-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"), url("https://unaunao.github.io/Portfolio-Ver02/fonts/Pretendard-Regular.woff2") format("woff2"), url("https://unaunao.github.io/Portfolio-Ver02/fonts/Pretendard-Regular.woff") format("woff"), url("https://unaunao.github.io/Portfolio-Ver02/fonts/Pretendard-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"), url("https://unaunao.github.io/Portfolio-Ver02/fonts/Pretendard-Light.woff2") format("woff2"), url("https://unaunao.github.io/Portfolio-Ver02/fonts/Pretendard-Light.woff") format("woff"), url("https://unaunao.github.io/Portfolio-Ver02/fonts/Pretendard-Light.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"), url("https://unaunao.github.io/Portfolio-Ver02/fonts/Pretendard-Thin.woff2") format("woff2"), url("https://unaunao.github.io/Portfolio-Ver02/fonts/Pretendard-Thin.woff") format("woff"), url("https://unaunao.github.io/Portfolio-Ver02/fonts/Pretendard-Thin.otf") format("opentype");
}
:hover ,
*{
  cursor: url(../images/mouse.svg) 2 2, auto ;
}
:active {
  cursor: url(../images/mouse02.svg) 2 2, auto ;
}
body {
  font-family: "pretendard", sans-serif;
  color: #111;
  overflow: hidden;
}
button{
  font-family: "pretendard", sans-serif;
}
.contents-wrap{
  position: relative;
  height: 100vh;
  background: #B6CA61 url(../images/bg02.svg) no-repeat center / cover;
}
.objects-wrap,
.main-contents,
.inside-wrap,
.outside-wrap {
  width: 100%;
  height: 100%;
}
.main-contents,
.inside-wrap{
  position: absolute;
  top:0;
  left: 0;
}
.inside-wrap{
  z-index: 1;
}
.main-contents{
  z-index: 3;
  pointer-events:none;
}
.Gradient {
  position:absolute;
  top:0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  pointer-events:none;
}
.Gradient-all {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 70%, rgba(255, 255, 255, 0.5) 100%);
}
.Gradient-top{
  background: linear-gradient(360deg, rgba(2, 0, 36, 0) 76%, rgba(255, 255, 255, 0.9) 100%)
}
.Gradient-bottom{
  background: linear-gradient(180deg, rgba(2, 0, 36, 0) 91%, rgba(0, 0, 0, 0.2) 100%);
}
.logo-set-wrap {
  position: relative;
  pointer-events:none;
}
.button-set-wrap,
.logo-set-wrap .deco,
.logo-set-wrap .text,
.logo-set-wrap .logo{
  position:absolute;
  left: 50%;
  transform: translateX(-50%);
}
.logo-set-wrap .logo{
  top:5px;
}
.logo-set-wrap .text{
  top: 12px;
  z-index: 4;
  transform: translateX(-140%);
}
.logo-set-wrap .deco{
  top: 7.875rem;
  transform: translateX(-52%);
}
.logo-set-wrap .star img{
  position:absolute;
  top: -4px;
  z-index: 4;
}
.button-set-wrap {
  bottom: 50px;
  text-align: center;
  pointer-events:initial;
}
.button-set-wrap button,
.button-set-wrap a{
  font-size: 1.125rem;
  font-weight: 600;
  width: 18.375rem;
  height: 2.75rem;
  line-height: 2.75rem;
  border-radius: 1.25rem;
  box-shadow: -1px 2px 4px 1px rgba(0, 0, 0, 0.5);
}
.button-set-wrap a{
  position: relative;
  display: inline-block;
  background-color: #FFDD3C;
  margin-bottom: 0.75rem;
  transition: 0.3s;
}
.button-set-wrap a::before{
  content: '';
  width: 1.96rem;
  height: 1.421rem;
  position: absolute;
  background-image: url(../images/discode.svg);
  background-size: cover;
  background-repeat: no-repeat;
  left: 30px;
  top:50%;
  transform: translateY(-50%);
}
.button-set-wrap button{
  color: #fff;
  background-color: #00B1FF;
}
.button-set-wrap a:focus,
.button-set-wrap a:hover{
  background-color: #f3d43b;
  transform: scale(0.99);
}
.button-set-wrap button:focus,
.button-set-wrap button:hover{
  background-color: #00a4eb;
  transform: scale(0.99);
}
.objects-wrap{
  position: absolute;
  top:0;
  left: 0;
}
.objects-wrap .objects{
  position: absolute;
  left: 50%;
  top:50%;
}
/* ==========================
          warning 
============================ */
.warning-wrap {
  display: none; /* 기본적으로 숨겨져 있음 */
  position: fixed;
  width: 552px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.warning-wrap {
  padding: 0.75rem;
  font-weight: 600;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 15px;
  z-index: 5; 
}
#warning01{
  color: #FBBC05;
  background-color: rgba(80, 80, 80, 0.9);
}
#warning02{
  color: #11CBC3;
  background-color: rgba(51, 71, 123);
}
/* ==========================
          popup 
============================ */
.popup-wrap{
  position: fixed;
  top:0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5; 
}
#popup01{
  position: relative;
  padding:1.875rem 2.5rem 1.25rem;
  background-color: #fff;
  border: 5px solid #8A8A8A;
  border-radius: 1.25rem;
  text-align: center;
}
#popup01 p{
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: -0.05rem;
  line-height: 1.4;
  color: #111;
  margin:1rem 0 1.25rem;
}
#popup01 p strong{
  font-weight: 700;
  display: block;
}
.btn-close{
  position: absolute;
  right: 0.938rem;
  top:0.938rem;
}
.btn-ok img{
  height: 4.375rem;
}

/* ==========================
          Apply animation 
============================= */
.logo-set-wrap .logo img{
  animation: scaleUp 2s ease 0s 1 normal forwards;
}
.logo-set-wrap .text img{
  animation: wobbleLeft 2s ease 4s 1 normal forwards;
  /* animation: wobbleLeft 2s ease 18s infinite normal forwards; */
}
.logo-set-wrap .deco .star img{
  opacity: 0;
  animation: rollInRight 2s ease 2s 1 normal forwards;
}
.logo-set-wrap .deco .line img{
  opacity: 0;
  animation: fadeInRight 3s ease 2s 1 normal forwards;
}
.objects-wrap .objects:hover .big {
  animation: pulseRegular 1s ease 0s 1 normal forwards;
}
.objects-wrap .objects:hover .shake{
  animation: shakeBottom 2s ease 0s 1 normal forwards;
}
.objects-wrap .objects:hover .bounceR{
  animation: bounceR 2s ease 0s 1 normal forwards;
}
.objects-wrap .objects .character10_2:hover {
  animation: fadeOutC 1s ease 0s 1 normal forwards;
}
.objects-wrap .emotion-wrap img{
  animation: jelloV 2s ease 0s infinite normal forwards;
}
.gif_form{
  display: none;
}
.emotion-wrap{
  opacity:0;
  transition: 0.5s;
}
.speech-wrap{
  width: 11%;
  text-align: center;
}
.speech-wrap p{
  display: inline-block;
  position: relative;
  max-width: fit-content;
  min-width: 3%;
  font-size: 0.875rem;
  font-weight: 600;
  padding:0.25rem 0.5rem;
  background-color: #fff;
  border:3.5px solid #111;
  border-radius: 0.5rem;
}
.speech-wrap img{
  width: 16.89px !important;
  position: absolute;
  bottom: -54%;
  left: 50%;
  z-index: 6;
  transform: scaleX(-1);
}
@media only screen and (min-width:48em) {
  .speech-wrap p{
    font-size: 0.875rem;
  }
  .contents-wrap{
    width: auto;
  }
}
@media only screen and (max-width:62.5em) {
  section {
    overflow-y: hidden;
  }
  .contents-wrap{
    min-width: 1280px;
  }
  .speech-wrap p{
    font-size: 0.625rem;
  }
  .speech-wrap img {
    width: 16px !important;
    bottom: -23%;
  }
}
@media only screen and (max-width:48em) {
 
  .speech-wrap p{
    font-size: 0.875rem;
  }
  .speech-wrap img{
    width: 16.89px !important;
    bottom: -54%;
  }
}
/* 화면 비율 조정 */
@media only screen and (min-height:932px) and (max-width: 1280px){
  section{
    overflow-x: scroll;
  }
  .contents-wrap{
    width: 2800px;
  }
}
@media only screen and (max-height:932px) and (max-width: 1280px) {
  .contents-wrap{
    width: 1900px;
  }
}
@media only screen and (max-height:700px) {
  .contents-wrap{
    width: 1700px;
  }
}